.drawer {
  position: absolute;
  top: 0;
  right: 0;
  background: white;
  height: 100%;
  width: 50%;
  z-index: 101;
}

.drawer-overlay {
  position: absolute;
  top: 0;
  left: 0;
  background: #333;
  opacity: 0.5;
  height: 100%;
  width: 100%;
  z-index: 100;
}